<label>{{ legend }}</label>
<div #divClick class="dropdown"
[ngClass]="{
  'is-invalid': isInvalid
}">
  <button
    class="btn btn-secondary dropdown-toggle  w-100 category-button"
    href="#"
    type="button"
    id="dropdownMenuLink"
    data-bs-toggle="dropdown"
    data-bs-auto-close="outside"
    aria-expanded="false"
  >
    {{ this.selectedCategory ? this.selectedCategory.name : 'SECINIZ' }}
  </button>
  <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
    <li *ngFor="let parentCategory of categories" class="dropdown dropend">
      <a
        class="dropdown-item"
        href="#"
        id="dropDown-{{ parentCategory.code }}"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        &gt;{{ parentCategory.name }}
      </a>
      <ul
        class="dropdown-menu"
        attr.aria-labelledby="dropDown-{{ parentCategory.code }}"
      >
        <li *ngFor="let category of parentCategory.childCategories">
          <a
            (click)="selectCategory(category)"
            href="#"
            class="dropdown-item dropdown-child-item"
            >{{ category.name }}</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>

<div
*ngIf="isInvalid"
class="invalid-feedback"
>Kategori Zorunludur</div>
