<label for="special-offer">{{ legend }}</label>
<select
  id="special-offer"
  class="form-select"
  [(ngModel)]="selectedOffer"
  (ngModelChange)="refreshModel()"
  name="specialOffer"
  [attr.disabled]="disabled ? true : null"
  [ngClass]="{
    'is-invalid': isInvalid
  }"
  #specialOfferNgModel
>
  <option *ngIf="!selectedOffer" [ngValue]="null" hidden disabled selected>
    SECINIZ
  </option>
  <option
    *ngFor="let offer of specialOffers$ | async"
    [ngValue]="offer"
    [attr.selected]="
      selectedOffer && selectedOffer.code == offer.code ? 'true' : null
    "
  >
    {{ offer.name }}
  </option>
</select>

<div *ngIf="isInvalid" class="invalid-feedback">Kampanya Gecerli Degil</div>
