<div class="app-form-div">
  <div *ngIf="categories?.length != 0">
    <div class="dropdown m-5">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >
        ÜRÜN
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li *ngFor="let category of categories" class="dropdown dropend">
          <a
            class="dropdown-item"
            href="#"
            id="dropDown-{{ category.code }}"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            &gt;{{ category.displayName }}
          </a>
          <ul
            class="dropdown-menu"
            attr.aria-labelledby="dropDown-{{ category.code }}"
          >
            <li *ngFor="let childCategory of category.childCategories">
              <a
                (click)="selectCategory(childCategory)"
                href="#"
                class="dropdown-item dropdown-child-item"
                >{{ childCategory.displayName }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
