<form #f="ngForm" (ngSubmit)="onSubmit()">
  <h3>Kullandırım Giriş Bilgileri</h3>
  <div *ngIf="this.step === 1" ngModelGroup="step1" #step1="ngModelGroup">
    <div class="row g-3 text-center">
      <div class="col-4">
        <app-form-product-category
          *ngIf="categories?.length != 0"
          [legend]="'Ürün Kategorisi:'"
          [categories]="categories"
          [(ngModel)]="product.category"
          name="category"
          [isInvalid]="stepSubmitted[step] && !product.category"
        ></app-form-product-category>
      </div>
      <div class="col-4">
        <app-form-usage-type
          [legend]="'Kullandırım Tipi'"
          [usageTypes]="this.getParams('KullandirimTipi')"
          [(usageTypeCode)]="product.usageTypeCode"
          [isInvalid]="stepSubmitted[step] && !product.usageTypeCode"
        >
        </app-form-usage-type>

      </div>
      <div class="col-4">
        <app-form-special-offer
          [legend]="'Kampanya'"
          [category]="product.category"
          [disabled]="isDisabled('offer')"
          [(selectedOffer)]="product.specialOffer"
        >
        </app-form-special-offer>
      </div>
    </div>
  </div>
  <div *ngIf="this.step === 2" ngModelGroup="step2" #step2="ngModelGroup">
    <div class="row g-3">
      <div class="col auto">
        <h1 class="d1">Welcome To The Next Step!</h1>
      </div>
    </div>
  </div>
  <div class="row gx-3 my-3 justify-content-between">
    <div class="col-3 text-start">
      <button
        *ngIf="this.step != 1"
        class="btn btn-primary"
        type="button"
        (click)="prev()"
      >
        Back
      </button>
    </div>
    <div class="col-3 text-end">
      <button class="btn btn-dark" type="submit">Next</button>
    </div>
  </div>

  <!-- <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="next()">Next</button>
    </div>
  </div>
  <div *ngIf="step === 2">
    <h3>Step 2: Address Information</h3>
    <div class="form-group">
      <label for="address">Address:</label>
      <input
        type="text"
        formControlName="address"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
      />
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input
        type="text"
        formControlName="city"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
      />
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>

  -->
</form>
